.home{
  background: #343a40;
  height: 90.6vh;
}
.home-body{
  padding: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-body-description{
  width: 50%;
}
img{
  width: 22rem; /* Adjust size as needed */
  height: 22rem; /* Adjust size as needed */
}
.home-body-pic {
  width: 50%;
  width: 22rem; /* Adjust size as needed */
  height: 22rem; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  overflow: hidden; /* Ensures image stays within circular bounds */
}
