.home{
  background: #343a40;
  height: 90.6vh;
}
.home-body{
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-body-description{
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
}
img{
  width: 22rem; /* Adjust size as needed */
  height: 22rem; /* Adjust size as needed */
}
.home-body-pic {
  width: 50%;
  width: 22rem; /* Adjust size as needed */
  height: 22rem; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  overflow: hidden; /* Ensures image stays within circular bounds */
}
.home-contact-us{
  font-size: 1.25rem;
  
}
.contact-icon{
  width: 25%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .home{
    font-size: small;
    height: 100%;
  }
  .home-body {
    display: block;
  }
  .home-body-description{
    width: 100%;
  }

  .contact-icon{
    width: 50%;
    margin-bottom: 1.5rem;
  }

}